dill
torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2
transformers==4.34.1
datasets
accelerate==0.28.0
jellyfish
evaluate
bitsandbytes
#huggingface-hub
#llama-cpp-python #-C cmake.args="-DLLAMA_BLAS=ON;-DLLAMA_BLAS_VENDOR=OpenBLAS"