dill
torch
#torch==2.1.2
torchvision
#torchvision==0.16.2
torchaudio
#torchaudio==2.1.2
transformers
#transformers==4.34.1
datasets
accelerate
trl
#accelerate==0.28.0
jellyfish
evaluate
bitsandbytes
liger-kernel
#huggingface-hub
#llama-cpp-python #-C cmake.args="-DLLAMA_BLAS=ON;-DLLAMA_BLAS_VENDOR=OpenBLAS"